<header>
    <div id="header">
       
            <div class="cabecalho">
                <a class="botoesCabecalho" href="/game">Jogar</a>
            </div>
            <div class="cabecalho">
                <h1>O Enigma do Dromedário</h1>
            </div>
            <div class="cabecalho">
                <a class="botoesCabecalho" href="/jogadores">Classificação</a>
            </div>
        
    </div>
</header>